<!DOCTYPE html>
<html>
  <head>
	<meta content='text/html; charset=UTF-8' http-equiv='ontent-Type'/>
  </head>
  <body>
    <p>
      commenter: <%= @comment.commenter %>
        comment: <br><%= @comment.body %> 
    </p>
    <p><%= link_to "Open Article", "http://localhost:3000"+article_path(@article.slug) %></p>
  </body>
</html>
